{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}
{{#if isSecondary}}
  <ul class="m-secondary-menu">
    {{#get "pages" limit="all" order="title asc" filter="tag:hash-{{langCode}}-nav2"}}
      {{#foreach pages}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
          <a href="{{url absolute="true"}}">{{title}}</a>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
{{else}}
    {{#get "pages" limit="all" order="title asc" filter="tag:hash-{{langCode}}-nav"}}
      {{#foreach pages}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
          <a href="{{url absolute="true"}}">{{title}}</a>
        </li>
      {{/foreach}}
    {{/get}}
{{/if}}
