{{!--
This template is used for the post page.
--}}

{{#post}}
  {{#has tag="#fr" visibility="internal"}}
    {{> "fr" headerBackground=feature_image}}

    {{#contentFor "relatedPosts"}}
      {{> "related-posts" langCode="fr" }}
    {{/contentFor}}
  {{else}}
    {{> "en" headerBackground=feature_image}}

    {{#contentFor "relatedPosts"}}
      {{> "related-posts" langCode="en" }}
    {{/contentFor}}
  {{/has}}
{{/post}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/post.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{{block "header"}}}

<main class="main-wrap">
  {{#post}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    </section>
  {{/post}}

  <article>
    <div class="l-content in-post">
      {{!-- Everything inside the #post tags pulls data from the post --}}
      {{#post}}
        {{> "post-content"}}
      {{/post}}

      {{!-- Related posts --}}
      {{{block "relatedPosts"}}}
    </div>
  </article>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/post.js"}}"></script>
{{/contentFor}}
